@page
@using Enums
@model Job_Portal_System.Areas.Resumes.Pages.CreateModel
@{
    ViewData["Title"] = "Create Resume";
}

<div class="row">
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 multi-step-form">
        <div class="progress" style="height: 4px;">
            <div class="progress-bar" role="progressbar"
                 aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="form-container">
            <div class="form-head">
                <h1 class="form-head-title">@ViewData["Title"]</h1>
                <span class="form-head-details">Step <span id="step-num"></span> of <span id="steps-count"></span></span>
            </div>
            <div class="form-body">
                <form method="post">
                    <fieldset id="educations-partial" class="sub-form tab" data-count="0" data-for="Educations">
                        <h2 class="form-body-title"><i class="fa fa-graduation-cap"></i> Educations</h2>
                        <ul class="displayed-objects-list list-unstyled"></ul>

                        <div class="hidden-objects-container d-none"></div>

                        <div class="form-inputs">
                            <div class="form-group">
                                <label asp-for="Educations[0].FieldOfStudyName"></label>
                                <input type="text" id="field-of-study-input" class="form-control" />
                                <input asp-for="Educations[0].FieldOfStudyName" id="field-of-study-name" />
                                <span asp-validation-for="Educations[0].FieldOfStudyName" class="validation-label text-danger"></span>
                            </div>
                            <input asp-for="Educations[0].FieldOfStudyId" id="field-of-study-id" />
                            <div class="form-group">
                                <label asp-for="Educations[0].Degree"></label>
                                <select asp-for="Educations[0].Degree"
                                        asp-items="Html.GetEnumSelectList<EducationDegree>()"
                                        class="form-control">
                                    <option value="">Please select</option>
                                </select>
                                <span asp-validation-for="Educations[0].Degree" class="validation-label text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Education period</label>
                                <div class="d-flex">
                                    <div style="flex: 1">
                                        <input asp-for="Educations[0].StartDate" class="form-control" />
                                    </div>
                                    <div style="flex: 0 0 25px; align-self: center">
                                        <span class="ml-2 mr-2">to</span>
                                    </div>
                                    <div style="flex: 1">
                                        <input asp-for="Educations[0].EndDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div style="flex: 1">
                                        <span asp-validation-for="Educations[0].StartDate" class="validation-label text-danger"></span>
                                    </div>
                                    <div class="flex: 0 0 25px"></div>
                                    <div style="flex: 1">
                                        <span asp-validation-for="Educations[0].EndDate" class="validation-label text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Educations[0].SchoolCity"></label>
                                <input asp-for="Educations[0].SchoolCity" id="city-input" class="form-control" />
                                <span asp-validation-for="Educations[0].SchoolCity" class="validation-label text-danger"></span>
                            </div>
                            <input asp-for="Educations[0].SchoolCityId" id="city-id" />
                            <div class="form-group">
                                <label asp-for="Educations[0].School"></label>
                                <input asp-for="Educations[0].School" id="school-input" class="form-control" />
                                <span asp-validation-for="Educations[0].School" class="validation-label text-danger"></span>
                            </div>
                            <input asp-for="Educations[0].SchoolId" id="school-id" />
                        </div>
                        <button type="button"
                                class="btn btn-submit btn-sub-submit">
                            <i class="fa fa-plus-circle"></i> Add
                        </button>
                    </fieldset>

                    <fieldset id="work-experiences-partial" class="sub-form tab" data-count="0" data-for="WorkExperiences">
                        <h2 class="form-body-title"><i class="fa fa-briefcase"></i> Work experiences</h2>
                        <ul class="displayed-objects-list list-unstyled"></ul>

                        <div class="hidden-objects-container d-none"></div>

                        <div class="form-inputs">
                            <div class="form-group">
                                <label asp-for="WorkExperiences[0].JobTitle"></label>
                                <input type="text" id="work-experience-job-title-input" class="form-control" />
                                <input asp-for="WorkExperiences[0].JobTitle" id="work-experience-job-title-name" />
                                <span asp-validation-for="WorkExperiences[0].JobTitle" class="validation-label text-danger"></span>
                            </div>
                            <input asp-for="WorkExperiences[0].JobTitleId" id="work-experience-job-title-id" />
                            <div class="form-group">
                                <label>Work period</label>
                                <div class="d-flex">
                                    <div style="flex: 1">
                                        <input asp-for="WorkExperiences[0].StartDate" class="form-control" />
                                    </div>
                                    <div style="flex: 0 0 25px; align-self: center">
                                        <span class="ml-2 mr-2">to</span>
                                    </div>
                                    <div style="flex: 1">
                                        <input asp-for="WorkExperiences[0].EndDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div style="flex: 1">
                                        <span asp-validation-for="WorkExperiences[0].StartDate" class="validation-label text-danger"></span>
                                    </div>
                                    <div class="flex: 0 0 25px"></div>
                                    <div style="flex: 1">
                                        <span asp-validation-for="WorkExperiences[0].EndDate" class="validation-label text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="WorkExperiences[0].Company"></label>
                                <input asp-for="WorkExperiences[0].Company" id="company-input" class="form-control" />
                                <span asp-validation-for="WorkExperiences[0].Company" class="validation-label text-danger"></span>
                            </div>
                            <input asp-for="WorkExperiences[0].CompanyId" id="company-id" />
                            <div class="form-group">
                                <label asp-for="WorkExperiences[0].Description"></label>
                                <textarea asp-for="WorkExperiences[0].Description" id="description"></textarea>
                                <span asp-validation-for="WorkExperiences[0].Description" class="validation-label text-danger"></span>
                            </div>
                        </div>
                        <button type="button"
                                class="btn btn-submit btn-sub-submit">
                            <i class="fa fa-plus-circle"></i> Add
                        </button>
                    </fieldset>

                    <fieldset id="general-info-partial" class="tab">
                        <h2 class="form-body-title"><i class="fa fa-question-circle"></i> General information</h2>
                        <fieldset class="sub-form" data-count="0" data-for="OwnedSkills" id="owned-skills-sub-form">
                            <legend>Owned Skills</legend>

                            <ul class="displayed-objects-list list-unstyled"></ul>

                            <div class="hidden-objects-container d-none"></div>

                            <div class="form-inputs form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="OwnedSkills[0].Skill"></label>
                                    <input asp-for="OwnedSkills[0].Skill" id="skill-input" class="form-control" />
                                </div>
                                <input asp-for="OwnedSkills[0].SkillId" id="skill-id" />
                                <div class="form-group col-md-4">
                                    <label asp-for="OwnedSkills[0].Years"></label>
                                    <input asp-for="OwnedSkills[0].Years" id="skill-years" class="form-control" />
                                </div>
                                <div class="form-group col-md-2 d-flex">
                                    <button type="button"
                                            class="btn btn-submit btn-sub-submit mt-auto ml-auto">
                                        <i class="fa fa-plus-circle"></i> Add
                                    </button>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <span asp-validation-for="OwnedSkills[0].Skill" class="validation-label text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <span asp-validation-for="OwnedSkills[0].Years" class="validation-label text-danger"></span>
                                </div>
                            </div>
                        </fieldset>
                        <hr />

                        <fieldset>
                            <legend>Resume information</legend>
                            <div class="form-group">
                                <label asp-for="ResumeInfo.MinSalary"></label>
                                <input asp-for="ResumeInfo.MinSalary" class="form-control" />
                                <span asp-validation-for="ResumeInfo.MinSalary" class="validation-label text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-container">
                                    <label asp-for="ResumeInfo.IsPublic"></label>
                                    <input asp-for="ResumeInfo.IsPublic" checked />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-row">
                                @foreach (var entity in Model.ResumeInfo.JobTypes)
                                {
                                    <div class="col-md-4">
                                        <label class="checkbox-container">
                                            @entity.Key.GetDescription()
                                            <input asp-for="ResumeInfo.JobTypes[entity.Key]" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                }
                            </div>
                        </fieldset>
                        <hr />

                        <fieldset class="sub-form" data-count="0" data-for="SeekedJobTitles" id="seeked-job-titles-sub-form">
                            <legend>Seeked job titles <span class="font-weight-light">(Optional)</span></legend>

                            <ul class="displayed-objects-list list-unstyled"></ul>

                            <div class="hidden-objects-container d-none"></div>

                            <div class="form-inputs form-row">
                                <div class="form-group col-md-10">
                                    <label asp-for="SeekedJobTitles[0].JobTitle"></label>
                                    <input type="text" id="seeked-job-title-input" class="form-control" />
                                    <input asp-for="SeekedJobTitles[0].JobTitle" id="seeked-job-title-name" />
                                    <input asp-for="SeekedJobTitles[0].JobTitleId" id="seeked-job-title-id" />
                                </div>
                                <div class="form-group col-md-2 d-flex">
                                    <button type="button" class="btn btn-submit btn-sub-submit mt-auto ml-auto">
                                        <i class="fa fa-plus-circle"></i> Add
                                    </button>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <span asp-validation-for="SeekedJobTitles[0].JobTitle" class="validation-label text-danger"></span>
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>

                    <div class="d-flex">
                        <button type="button" id="prevBtn"
                                class="btn btn-step ml-2 mr-2" onclick="nextPrev(-1)">
                            <i class="fa fa-chevron-left"></i> Previous
                        </button>
                        <button type="button" id="nextBtn"
                                class="btn btn-step ml-2 mr-2" onclick="nextPrev(1)">
                            Next <i class="fa fa-chevron-right"></i>
                        </button>
                        <button asp-page-handler="createResume"
                                class="btn btn-submit ml-auto cancel">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_EditorScriptPartial" />
    <partial name="_ResumesScriptsPartial" />
}