/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --general-main: #e9f0f7;
    --general-secondary: #fcfdfd;
    --general-focus: #dbe8f5;
    --form-main: #76bad5;
    --form-light-danger: #e01428;
    --form-light-danger-hover: #f0dbdd;
    --form-light-main: #dee9ed;
    --form-main-transparent: rgba(114, 177, 203, 0.29019607);
    --form-background: #f5f7fa;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 2px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #777;
    }

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--general-secondary);
    font-family: 'Nanum Gothic', sans-serif;
}

.bg-main {
    background-color: var(--general-main);
}

.body-content {
    margin: 50px auto 50px auto;
}

.btn-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 10px;
    cursor: pointer;
}

    .btn-upload .btn-upload__container {
        display: flex;
        align-items: center;
    }

        .btn-upload .btn-upload__container > * {
            margin: 0 5px;
        }

.btn-icon {
    cursor: pointer;
    border: none;
    background-color: initial;
    color: cornflowerblue;
    padding: 0;
    line-height: 1;
}

    .btn-icon:hover {
        color: royalblue;
    }

.item-details {
    display: none;
}

.info-item {
    border-radius: 5px;
    padding: 3px 0;
}

.dl-horizontal dt {
    white-space: normal;
}

.scrollable-div {
    padding: 15px;
    min-height: 550px;
    overflow-y: auto;
}

.field-validation-error, label.error {
    color: #ff0000;
}

.input-validation-error, input.error {
    border: 1px solid Red;
}

.fa-bell {
    position: relative;
    font-size: 1.5em;
    color: grey;
    cursor: pointer;
    padding: 9px 15px;
}

.num {
    background-color: #fa3e3e;
    font-size: 0.5em;
    border-radius: 2px;
    color: #fff;
    padding: 1px 3px;
    position: absolute;
    left: 10px;
    top: 2px;
}

.notification-dialog {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif !important;
    color: #2f3337;
    font-size: 12px;
    background-color: #FFF;
    box-shadow: 0 2px 2px rgba(12,13,14,0.2);
    z-index: 999;
    position: absolute;
    text-align: left;
    border-left: 1px solid #e4e6e8;
    border-right: 1px solid #e4e6e8;
    border-bottom: 1px solid #e4e6e8;
    box-sizing: border-box;
    width: 375px;
    min-height: 200px;
    max-height: 500px;
    display: none;
    overflow-y: auto;
}

    .notification-dialog a:hover {
        text-decoration: none;
    }

    .notification-dialog .dialog-title {
        font-weight: bold;
        margin-bottom: 3px;
        padding: 10px 15px;
        background-color: var(--general-focus);
    }

    .notification-dialog .dialog-content {
        list-style: none;
        padding: 0 5px;
    }

        .notification-dialog .dialog-content .notification-area {
            padding: 10px 15px;
            color: #444;
            border-bottom: 1px solid #ddd;
        }

            .notification-dialog .dialog-content .notification-area.not-read {
                background-color: #f5f5ff;
            }

            .notification-dialog .dialog-content .notification-area:hover {
                background-color: #fafafa;
            }

            .notification-dialog .dialog-content .notification-area.not-read:hover {
                background-color: #efefff;
            }

            .notification-dialog .dialog-content .notification-area .notification-header {
                padding: 3px 0;
                color: #aaa;
                display: flex;
            }

                .notification-dialog .dialog-content .notification-area .notification-header .notification-time {
                    margin-left: auto;
                }

            .notification-dialog .dialog-content .notification-area .notification-content {
                padding: 7px 3px;
            }


            .notification-dialog .dialog-content .notification-area.dialog-footer {
                border: none;
                text-align: center;
                cursor: pointer;
            }

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.form-container {
    padding: 0 25px;
    background-color: var(--form-background);
    padding-top: 15px;
    padding-bottom: 20px;
}

    .form-container .form-head {
        display: flex;
        margin-bottom: 25px;
    }

        .form-container .form-head .form-head-title {
            font-size: 1.7em;
            display: inline;
            text-align: left;
        }

        .form-container .form-head .form-head-details {
            font-size: 0.9em;
            color: gray;
            margin-left: auto;
            align-self: flex-end;
        }


    .form-container .form-head2 {
        display: block;
        margin-bottom: 20px;
    }

        .form-container .form-head2 .form-head-title {
            font-size: 1.7em;
            margin: 0;
        }

        .form-container .form-head2 .form-head-details {
            font-size: 0.8em;
            color: gray;
            margin: 0;
        }

    .form-container .form-body .tab {
        display: none;
        background-color: white;
        padding: 25px;
        margin-bottom: 25px;
        border-radius: 7px;
    }

    .form-container .form-body .form-body-title {
        font-size: 1.4em;
        border-bottom: lightgray solid 1px;
        padding-bottom: 20px;
    }

.form-control:focus {
    border-color: var(--form-main);
    box-shadow: 0 0 0.2rem 0.1rem var(--form-main-transparent);
}

.details-container {
    padding: 0 12px;
    border-left: lightgray solid 4px;
    text-align: justify;
    font-size: 0.9rem;
}

.btn:focus {
    box-shadow: none;
}

.btn-submit {
    background-color: var(--form-main);
    color: white;
    border-radius: 15px;
}

    .btn-submit:hover {
        font-weight: 600;
        color: white;
    }

.btn-sub-submit {
    border-radius: 7px;
}

.btn-step {
    background-color: initial;
    color: var(--form-main);
    font-weight: 400;
    border: var(--form-main) solid;
    border-width: 1px;
    border-radius: 15px;
}

    .btn-step:hover {
        font-weight: 600;
        border-width: 2px;
    }

a.no-hover-anchor:hover {
    color: inherit;
}

.item-details {
    padding: 10px;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 18px;
    width: 18px;
    border: var(--form-main) solid;
    border-width: 1px;
    border-radius: 8px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: var(--form-main);
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.custom-control-label {
    line-height: 2;
    font-weight: 600;
}


.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--form-main);
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: var(--form-main);
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.font-weight-little-bold {
    font-weight: 600;
}

.color-form-light-danger {
    color: var(--form-light-danger);
}

.bg-form-light-danger {
    border: 1px solid var(--form-light-danger);
}

    .bg-form-light-danger:hover {
        background-color: var(--form-light-danger-hover);
    }

.search-box {
    color: #313437;
    padding: 50px 0;
}

    .search-box p {
        color: #7d8285;
        line-height: 1.5;
    }

    .search-box .form-control {
        background: #eff1f4;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        outline: none;
        color: inherit;
        text-indent: 9px;
        margin-right: 10px;
        min-width: 250px;
    }

    .search-box .btn-main {
        background-color: var(--form-main) !important;
        color: #fff;
        outline: none !important;
    }

.bg-form-background {
    background-color: var(--form-background)
}

.bg-ghostwhite-hover:hover {
    background-color: ghostwhite;
}

.bg-form-light-main-hover:hover {
    background-color: var(--form-light-main);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upload-image {
    cursor: pointer;
}

    .upload-image:hover > .shader {
        display: block;
    }

.shader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid white;
    border-radius: 3px;
    background-color: rgba(0, 0, 46, 0);
}

.loader {
    border: 5px solid rgba(255, 255, 94, 1);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

select option {
    padding: 15px 5px;
    color: #444;
    font-size: 1.2em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
