@page
@model TestModel
@{
    ViewData["Title"] = "test";
}

<form method="post" asp-page-handler="Post">
    <div class="form-group city-select-container">
        <div class="d-flex">
            <div style="flex: 1">
                <select asp-for="State"
                        class="form-control state-select">
                    <option value="">Select state</option>
                </select>
            </div>
            <div style="flex: 0 0 25px"></div>
            <div style="flex: 1">
                <select asp-for="City"
                        disabled="disabled"
                        class="form-control city-select">
                    <option value="">Please select</option>
                </select>
            </div>
        </div>
        <div class="d-flex">
            <div style="flex: 1">
                <span asp-validation-for="State" class="validation-label text-danger"></span>
            </div>
            <div class="flex: 0 0 25px"></div>
            <div style="flex: 1">
                <span asp-validation-for="City" class="validation-label text-danger"></span>
            </div>
        </div>
    </div>
    <button>Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_CitiesSelectorScriptPartial" />
}