@model Job_Portal_System.ViewModels.JobVacancies.JobVacanciesIndexViewModel

@{
    ViewData["Title"] = "All Jobs";
    Layout = "~/Pages/Shared/_WithSidebarLayout.cshtml";
}

<div class="grid">
    <h1 class="grid--cell fl1 fs-headline1">
        All Jobs
    </h1>
    @if (Model.IsRecruiter)
    {
    <div class="pl8 grid--cell">
        <a href="/JobVacancies/Create"
           class="ws-nowrap s-btn s-btn__primary">
            Add Job Vacancy
        </a>
    </div>
    }
</div>

<div class="grid ai-center mb16">
    <div class="grid--cell fl1 fs-body3"></div>
    <div class="grid--cell">
        <div class="grid s-btn-group">
            @if (Model.IsRecruiter)
            {
            <a class="@(Model.ActiveTab == "my-jobs" ? "you-are-here is-selected " : "")grid--cell s-btn s-btn__muted s-btn__outlined"
               href="?tab=my-jobs"
               title="Your jobs">
                Your jobs
            </a>
            }
            <a class="@(Model.ActiveTab == "interesting" ? "you-are-here is-selected " : "")grid--cell s-btn s-btn__muted s-btn__outlined"
               href="?tab=interesting"
               title="Interesting jobs">
                Interesting
            </a>
            <a class="@(Model.ActiveTab == "recent" ? "you-are-here is-selected " : "")grid--cell s-btn s-btn__muted s-btn__outlined"
               href="?tab=recent"
               title="Recent jobs">
                Recent
            </a>
        </div>
    </div>
</div>

<div id="qlist-wrapper" class="flush-left">
    <partial name="_JobVacanciesGroupPartial" model="@Model.JobVacancies" />
</div>