@using Job_Portal_System.Enums
@model Job_Portal_System.Enums.JobVacancyStatus

@switch (Model)
{
    case JobVacancyStatus.Closed:
    case JobVacancyStatus.Finished:
        @:<span class="ps-absolute pt2 r0 mr12 t15 s-badge s-badge__danger">@Model.GetDescription()</span>
        break;
    case JobVacancyStatus.InAction:
        @:<span class="ps-absolute pt2 r0 mr12 t15 s-badge s-badge__warning">@Model.GetDescription()</span>
        break;
    case JobVacancyStatus.Open:
        @:<span class="ps-absolute pt2 r0 mr12 t15 s-badge s-badge__success">@Model.GetDescription()</span>
        break;
    default:
        break;
}
