@model IEnumerable<Job_Portal_System.ViewModels.JobVacancies.JobVacancyGeneralViewModel>

<div>
    @foreach (var jobVacancy in Model)
    {
        <partial name="_JobVacancyGeneralInfoPartial" model="jobVacancy" />
    }
</div>