@using Job_Portal_System.Enums
@model IEnumerable<Job_Portal_System.ViewModels.QualificationViewModel>

<ol>
    @foreach (var qualification in Model)
    {
        <li>
            @qualification.Title (@qualification.Type @qualification.Years @(qualification.Years == 1 ? "year" : "years"))
            @if (qualification.IsWeakness)
            {
                <span class="ml8 s-badge s-badge__danger">Weak</span>
            }
        </li>
    }
</ol>