@using Job_Portal_System.Dependencies
@inject AnnouncementsManager AnnouncementsManager

<div class="s-sidebarwidget s-sidebarwidget__blue s-anchors s-anchors__default mb16">
    <div class="s-sidebarwidget--header s-sidebarwidget__small-bold-text">
        Announcements
    </div>
    @foreach (var announcement in await AnnouncementsManager.LatestAsync())
    {
        <ul class="s-sidebarwidget--content s-sidebarwidget__items pt0 pr16 pb0 pl16">
            <li class="s-sidebarwidget--item grid">
                <div class="grid--cell">
                    <a href="/Announcements/Details?id=@announcement.Id" title="@announcement.Headline">
                        @announcement.Headline
                    </a>
                </div>
            </li>
        </ul>
    }
</div>