<li class="nav-item">
    <a id="notifications" class="fa fa-bell mr-3">
        <span id="notifications-number" class="num"></span>
    </a>
    <div class="notification-dialog">
        <div class="dialog-title">INBOX</div>
        <ul class="dialog-content">
        </ul>
    </div>
</li>
