@using Dependencies
@inject JobSeekersManager JobSeekersManager

<div class="module">
    <div class="s-sidebarwidget mb16">
        <div class="s-sidebarwidget--header grid">
            <span class="grid--cell mr4">
                <svg aria-hidden="true" class="svg-icon"
                     width="18" height="18" viewBox="0 0 18 18">
                    <path d="M9.06 3C4 3 1 9 1 9s3 6 8.06 6C14 15 17 9 17 9s-3-6-7.94-6zM9 13a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-2a2 2 0 0 0 2-2 2 2 0 0 0-2-2 2 2 0 0 0-2 2 2 2 0 0 0 2 2z"></path>
                </svg>
            </span>
            <span class="grid--cell fl1">
                Seeked job titles
            </span>
            <a class="js-edit-seeked-job-titles grid--cell ml12" href="#">edit</a>
        </div>
        <div class="s-sidebarwidget--content fd-column">
            <div class="js-seeked-job-titles-list grid gs4 py4 fw-wrap">
                @foreach (var jobTitle in await JobSeekersManager.GetSeekedJobTitlesAsync(User))
                {
                    <div class="js-tag grid--cell">
                        <a href="#"
                           class="post-tag user-tag"
                           title="show questions tagged '@jobTitle.Title'">
                            @jobTitle.Title
                        </a>
                    </div>
                }
            </div>
        </div>

        <div class="js-add-seeked-container"></div>

        <div class="js-show-add-seeked-container grid fd-column ta-center ai-center gsy gs16 mx-auto d-none">
            <p class="grid--cell w100 wmx6 fc-black-300">
                Watch tags to curate your list of questions.
            </p>
            <a class="js-show-add-seeked grid--cell s-btn s-btn__filled s-btn__icon d-none">
                <svg aria-hidden="true" class="svg-icon"
                     width="18" height="18" viewBox="0 0 18 18">
                    <path d="M9.06 3C4 3 1 9 1 9s3 6 8.06 6C14 15 17 9 17 9s-3-6-7.94-6zM9 13a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-2a2 2 0 0 0 2-2 2 2 0 0 0-2-2 2 2 0 0 0-2 2 2 2 0 0 0 2 2z"></path>
                </svg> Watch a tag
            </a>
        </div>
    </div>
</div>