@using Job_Portal_System.Enums
@model Job_Portal_System.Models.Applicant

@{
    var status = (ApplicantStatus) Model.Status;
    var nextStatuses = status.NextStates(UserType.JobSeeker);
    var isFinalStatus = status.IsFinal();
}

@if (nextStatuses.Count > 0 || !isFinalStatus)
{
    <div class="timeline-sidebar-module">
        <h3>Options</h3>
        @if (nextStatuses.Count > 0)
        {
            foreach (var nextStatus in nextStatuses)
            {
                <a asp-controller="Applicants" asp-action="ChangeStatus" asp-route-id="@Model.Id" asp-route-status="@((int)nextStatus)" class="btn-secondary block">@nextStatus.GetActionName()</a>
            }
        }
        @if (!isFinalStatus)
        {
            <a asp-controller="Applicants" asp-action="Delete" asp-route-id="@Model.Id" class="btn-secondary block">Delete</a>
        }
    </div>
}