@model Job_Portal_System.ViewModels.Resumes.ResumesIndexViewModel

@{
    ViewData["Title"] = "All Resumes";
    Layout = "~/Pages/Shared/_WithSidebarLayout.cshtml";
}

<div class="grid">
    <h1 class="grid--cell fl1 fs-headline1">
        All Resumes
    </h1>
    @if (Model.IsJobSeeker)
    {
        <div class="pl8 grid--cell">
            @if (Model.OwnResumeCreated)
            {
                <a href="/Resumes/MyResume"
                   class="ws-nowrap s-btn s-btn__primary">
                    My Resume
                </a>
            }
            else
            {
                <a href="/Resumes/Create"
                   class="ws-nowrap s-btn s-btn__primary">
                    Create Resume
                </a>
            }
        </div>
    }
</div>

<div class="grid ai-center mb16">
    <div class="grid--cell fl1 fs-body3"></div>
    <div class="grid--cell">
        <div class="grid s-btn-group">
            <a class="@(Model.ActiveTab == "interesting" ? "you-are-here is-selected " : "")grid--cell s-btn s-btn__muted s-btn__outlined"
               href="?tab=interesting"
               title="Interesting resumes">
                Interesting
            </a>
            <a class="@(Model.ActiveTab == "recent" ? "you-are-here is-selected " : "")grid--cell s-btn s-btn__muted s-btn__outlined"
               href="?tab=recent"
               title="Recent resumes">
                Recent
            </a>
        </div>
    </div>
</div>

<div id="qlist-wrapper" class="flush-left">
    <partial name="_ResumesGroupPartial" model="@Model.Resumes" />
</div>