@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Image"></label>
                <div>
                    <label for="file-input" class="position-relative upload-image">
                        <div id="shader" class="shader hidden"></div>
                        <div id="loader" class="center hidden">
                            <div class="loader"></div>
                        </div>
                        <img id="image-viewer" src="@Model.ImageUrl"
                             alt="" class="img-thumbnail">
                    </label>
                </div>

                <input id="file-input" accept="image/*" class="d-none" type="file">
                <span asp-validation-for="Input.Image" id="error-message" class="text-danger"></span>
            </div>
            <input asp-for="Input.Image" id="url-input" />
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="card my-3">
                <div class="card-body px-3">
                    <h5 class="card-title">Address</h5>
                    <div class="form-group city-select-container">
                        <div class="form-row">
                            <div class="col-md-6">
                                <select asp-for="Input.State"
                                        asp-items="@Model.States"
                                        class="form-control state-select">
                                    <option value="">Select state</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="Input.City"
                                        asp-items="@Model.Cities"
                                        disabled="disabled"
                                        class="form-control city-select">
                                    <option value="">Please select</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <span asp-validation-for="Input.State"
                                      class="validation-label text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <span asp-validation-for="Input.City"
                                      class="validation-label text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label asp-for="Input.DetailedAddress"></label>
                        <div class="col-md-8">
                            <input asp-for="Input.DetailedAddress" id="detailed-address-input" class="form-control" />
                            <span asp-validation-for="Input.DetailedAddress" class="validation-label text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_CitiesSelectorScriptPartial" />
    <partial name="_ManageScriptsPartial" />
}